build/*
common/windows/VulkanSDK/Windows/Include
common/windows/VulkanSDK/Windows/include
common/windows/VulkanSDK/Windows/lib
common/windows/VulkanSDK/Include/Include
common/windows/VulkanSDK/Windows/Lib/Lib
common/windows/versioninfo.rc
*.vscode/*
**.gradle/*
**.idea/*
android/app/build/*
android/app/.cxx/*
android/app/release/*
android/.gradle/*
android/.idea/*
common/android
common/windows/*.dll
common/windows/*.a
common/windows/VulkanSDK/*
common/windows/LICENSE*
common/linux/
common/macos/*.a
common/macos/LICENSE*
common/headers/*
*.zip
android/build/*
.DS_Store
